.root {
    float:inline;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px 2px;
}

.lableGroup {
    clear:both;
    text-align:right;
    line-height:25px;
}

.labelElement {
    float:left;
    padding-right:20px;
}

.lightButton {
    background-color: white;
}

.blackButton {
    background-color:darkorchid;
}